* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
@font-face {
    font-family: araboto;
    src: url(./font/Araboto-Normal.woff2);
  }
.content-container{
    display: grid;
    grid-template: 75px 100px 6fr / 1fr 4fr;
    height: 100vh;
}

.sidebar{
    grid-row: 1 / -1;
}

header{
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/*sidebar*/
.sidebar{
    display: grid;
    padding: 15px 0px;
    grid-template: 75px auto 1fr / 1fr;
    background-color: #1992d4;
    color: white;
}
.brand-container{
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    display: flex;
    padding: 20px 20px 50px 12px;
    align-items: center;
    gap: 12px;
}
.logo{
    background: url(./icons/chart-tree.svg);
    display: inline-block;
    vertical-align:text-bottom;
    padding: 0px 20px;
    height: 40px;
    width: 40px;
}
.menu-container{
    margin-bottom: 50px;
}
.menu-container div, .settings-container div{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-bottom: 20px;
    font-weight: bold;
}

/*icons for sidebar*/
.home::before, 
.profile::before, 
.messages::before, 
.history::before, 
.tasks::before, 
.communities::before,
.settings::before,
.support::before,
.privacy::before{
    content: url(./icons/home.svg);
    display: inline-block;
    padding: 0px 20px;
    height: 25px;
    width: 25px;
    vertical-align: bottom;
}
.profile::before{
    content: url(./icons/card-account-details-outline.svg);
}

.messages::before{
    content: url(./icons/message-reply.svg);
}

.history::before{
    content: url(./icons/clock-time-three-outline.svg);
}

.tasks::before{
    content: url(./icons/file-multiple-outline.svg);
}
.communities::before{
    content: url(./icons/account-group.svg);
}
.settings::before{
    content: url(./icons/cog.svg);
}
.support::before{
    content: url(./icons/help-box.svg);
}
.privacy::before{
    content: url(./icons/shield-check.svg);
}


/*nav*/
nav{
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 0px 30px;
}
input[type='search']{
    height: 25px;
    outline: none;
    border: none;
    background-color: #e2e8f0;
    border-radius: 25px;
    flex: 1;
    margin-right: 45px;
}
label[for='search']::after{
    content: url(./icons/magnify.svg);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: -15px;
    vertical-align: middle;
}

.alert-icon{
    content: url(./icons/bell-ring-outline.svg);
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.profile-picture{
    background-image: url(./profile-pic.jpg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}
.current-username{
    font-size: 1.3rem;
    font-weight: bold;
}

/*Account info */
.account-info{
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
.content-buttons{
    margin-left: auto;
}
.profile-picture-large{
    background-image: url(./profile-pic.jpg);
    background-position: center;
    background-size: cover;
    width: 75px;
    height: 75px;
    margin-right: 15px;
}
button{
    padding: 12px 15px;
    width: 90px;
    background-color: #1992d4;
    color: white;
    border: none;
    border-radius: 25px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

.welcome-name{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
}
/*main content*/
.main-content{
    grid-row: 3 / 4;
    display: grid;
    padding: 15px;
    padding-top: 30px;
    grid-template: 43px 1fr / 4fr 300px;
    background-color: #e2e8f0;
    box-shadow: inset #ccc 0px 2px 10px 0px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    align-content: flex-start;
    grid-row: 2 / 3;
    margin-bottom: 20px;
}
.project-card{
    background: #FFF;
    height: 220px;
    display: grid;
    padding: 20px 15px;
    border-radius: 8px;
    border-left: 8px solid #f0b429;
    box-shadow: 0px 2px 6px 1px #bbb;
}
.project-description{
    color: #555;
}
.trending{
    margin: 25px 0px 15px 0px;
}
.trending-container{
    background-color: white;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px #bbb;
}
.user{
    display: grid;
    grid-template: 1fr 1fr / auto 5fr;
    column-gap: 15px;
    margin: 20px 0px;
}
.username{
    font-size: 1rem;
    align-self:center;
}
.user-tag{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: clamp(0.7rem, 1vw, 1rem);
    align-self: center;
}

.announcements, .right-info-container{
    padding: 0px 20px;
}
.announcements-container{
    background-color: white;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px #bbb;
}
.announcement{
    padding: 20px 0px;
}
.announcement h4 {
    margin-bottom: 5px;
}
.announcement-info{
    color: #555;
    font-size: 0.9rem;
}
.announcement:not(:last-child){
    border-bottom: thin solid #bbb;
}
/*main content icons*/
.star-icon{
background: url(./icons/star-plus-outline.svg);
width: 30px;
height: 30px;
}
.eye-icon{
background: url(./icons/eye-plus-outline.svg);
width: 30px;
height: 30px;
}
.fork-icon{
background: url(./icons/source-fork.svg);
width: 30px;
height: 30px;
}
.user-icon-1, .user-icon-2, .user-icon-3, .user-icon-4{
    background-image: url(./profile-pic.jpg);
    background-position: center;
    background-size: cover;
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
}

.icons-container{
    display: flex;
    gap: 25px;
    justify-self: end;
    align-self: end;
    margin-top: 10px;
}